In [13]:
# read data
import pandas

data = pandas.read_csv('diabetic/diabetic.csv')
print(data)

     Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            NaN  33.6
1           1     85.0          66.0       29.0            NaN  26.6
2           8    183.0          64.0        NaN            NaN  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            NaN  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        NaN            NaN  30.1
767         1     93.0          70.0       31.0            NaN  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]

In [14]:
# get glucose column
data['Glucose']

0      148.0
1       85.0
2      183.0
3       89.0
4      137.0
       ...
763    101.0
764    122.0
765    121.0
766    126.0
767     93.0
Name: Glucose, Length: 768, dtype: float64

In [15]:
# get diastolic_Bp column
data['Diastolic_BP']

0      72.0
1      66.0
2      64.0
3      66.0
4      40.0
       ...
763    76.0
764    70.0
765    72.0
766    60.0
767    70.0
Name: Diastolic_BP, Length: 768, dtype: float64

In [16]:
# check for empties and replace them
data.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [17]:
# get mean of glucose
data['Glucose'].mean()

121.6867627785059

In [18]:
# replace empty glucose entries with mean
mean = 121.69
data['Glucose'].fillna(121.68, inplace=True)

In [19]:
# check empties again
data.isnull().sum()

Pregnant               0
Glucose                0
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [20]:
# get the mean of Diastolic_BP
data['Diastolic_BP'].mean()

72.40518417462484

In [21]:
# replace empty Diastolic_BP 
data['Diastolic_BP'].fillna(72.41, inplace=True)

In [22]:
# check for empties again
data.isnull().sum()

Pregnant               0
Glucose                0
Diastolic_BP           0
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [30]:
data.isnull().sum()

Pregnant               0
Glucose                0
Diastolic_BP           0
Skin_Fold              0
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [ ]:
men = 100.4
data['Serum_Insulin'].fillna(men, inplace=True)

In [32]:
data.isnull().sum()

Pregnant              0
Glucose               0
Diastolic_BP          0
Skin_Fold             0
Serum_Insulin         0
BMI                  11
Diabetes_Pedigree     0
Age                   0
Class                 0
dtype: int64

In [35]:
# get BMI mean
data['BMI'].mean()

32.457463672391015

In [ ]:
# replace
mean = 32.46
data['BMI'].fillna(mean, inplace=True)

In [37]:
# check for empties again
data.isnull().sum()

Pregnant             0
Glucose              0
Diastolic_BP         0
Skin_Fold            0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
Age                  0
Class                0
dtype: int64

In [38]:
# get sum of data set
data.describe().sum()

Pregnant              802.214630
Glucose              1520.122668
Diastolic_BP         1214.706750
Skin_Fold             998.093351
Serum_Insulin        2174.125605
BMI                   989.132651
Diabetes_Pedigree     772.543705
Age                  1009.001117
Class                 770.825910
dtype: float64

In [39]:
# describe the data
data.describe()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686719,72.405404,29.152409,128.692188,32.457500,0.471876,33.240885,0.348958
std,3.369578,30.435949,12.096346,8.790942,89.383418,6.875151,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,100.400000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.205000,29.150000,100.400000,32.400000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000