In [6]:
import pandas

# fetch data
data = pandas.read_csv('data/bank.csv')

# display results
print(data)

      Loan_ID  Gender Married     Education Self_Employed  ApplicantIncome  \
0    LP001002    Male      No      Graduate            No             5849
1    LP001003    Male     Yes      Graduate            No             4583
2    LP001005    Male     Yes      Graduate           Yes             3000
3    LP001006    Male     Yes  Not Graduate            No             2583
4    LP001008    Male      No      Graduate            No             6000
..        ...     ...     ...           ...           ...              ...
609  LP002978  Female      No      Graduate            No             2900
610  LP002979    Male     Yes      Graduate            No             4106
611  LP002983    Male     Yes      Graduate            No             8072
612  LP002984    Male     Yes      Graduate            No             7583
613  LP002990  Female      No      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount Property_Area Loan_Status
0                  0.0         NaN         Urban           Y
1               1508.0       128.0         Rural           N
2                  0.0        66.0         Urban           Y
3               2358.0       120.0         Urban           Y
4                  0.0       141.0         Urban           Y
..                 ...         ...           ...         ...
609                0.0        71.0         Rural           Y
610                0.0        40.0         Rural           Y
611              240.0       253.0         Urban           Y
612                0.0       187.0         Urban           Y
613                0.0       133.0     Semiurban           N

[614 rows x 10 columns]

In [10]:
# read all male gender 
# fetch data
data = pandas.read_csv('data/bank.csv')

df = pandas.DataFrame(data)
males = df[df['Gender'] == 'Male']

print(males)

      Loan_ID Gender Married     Education Self_Employed  ApplicantIncome  \
0    LP001002   Male      No      Graduate            No             5849
1    LP001003   Male     Yes      Graduate            No             4583
2    LP001005   Male     Yes      Graduate           Yes             3000
3    LP001006   Male     Yes  Not Graduate            No             2583
4    LP001008   Male      No      Graduate            No             6000
..        ...    ...     ...           ...           ...              ...
607  LP002964   Male     Yes  Not Graduate            No             3987
608  LP002974   Male     Yes      Graduate            No             3232
610  LP002979   Male     Yes      Graduate            No             4106
611  LP002983   Male     Yes      Graduate            No             8072
612  LP002984   Male     Yes      Graduate            No             7583

     CoapplicantIncome  LoanAmount Property_Area Loan_Status
0                  0.0         NaN         Urban           Y
1               1508.0       128.0         Rural           N
2                  0.0        66.0         Urban           Y
3               2358.0       120.0         Urban           Y
4                  0.0       141.0         Urban           Y
..                 ...         ...           ...         ...
607             1411.0       157.0         Rural           Y
608             1950.0       108.0         Rural           Y
610                0.0        40.0         Rural           Y
611              240.0       253.0         Urban           Y
612                0.0       187.0         Urban           Y

[489 rows x 10 columns]

In [11]:
# get gender 
data["Gender"]

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 614, dtype: object

In [12]:
# get the marriage column
data["Married"]

0       No
1      Yes
2      Yes
3      Yes
4       No
      ...
609     No
610    Yes
611    Yes
612    Yes
613     No
Name: Married, Length: 614, dtype: object

In [13]:
# get column education
data["Education"]

0          Graduate
1          Graduate
2          Graduate
3      Not Graduate
4          Graduate
           ...
609        Graduate
610        Graduate
611        Graduate
612        Graduate
613        Graduate
Name: Education, Length: 614, dtype: object