In [1]:
import pandas

# fetch data
data = pandas.read_csv('data/pima.csv')

# display results
print(data)

     Children  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0           6      148             72             35        0  33.6
1           1       85             66             29        0  26.6
2           8      183             64              0        0  23.3
3           1       89             66             23       94  28.1
4           0      137             40             35      168  43.1
..        ...      ...            ...            ...      ...   ...
763        10      101             76             48      180  32.9
764         2      122             70             27        0  36.8
765         5      121             72             23      112  26.2
766         1      126             60              0        0  30.1
767         1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age       Outcome
0                       0.627   50      Diabetic
1                       0.351   31  Not Diabetic
2                       0.672   32      Diabetic
3                       0.167   21  Not Diabetic
4                       2.288   33      Diabetic
..                        ...  ...           ...
763                     0.171   63  Not Diabetic
764                     0.340   27  Not Diabetic
765                     0.245   30  Not Diabetic
766                     0.349   47      Diabetic
767                     0.315   23  Not Diabetic

[768 rows x 9 columns]

In [2]:
# glucose column
data["Glucose"]

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 768, dtype: int64

In [3]:
# Bloodpressure column
data["BloodPressure"]

0      72
1      66
2      64
3      66
4      40
       ..
763    76
764    70
765    72
766    60
767    70
Name: BloodPressure, Length: 768, dtype: int64

In [4]:
# Skin thickness
data["SkinThickness"]

0      35
1      29
2       0
3      23
4      35
       ..
763    48
764    27
765    23
766     0
767    31
Name: SkinThickness, Length: 768, dtype: int64

In [5]:
# insulin column
data["Insulin"]

0        0
1        0
2        0
3       94
4      168
      ...
763    180
764      0
765    112
766      0
767      0
Name: Insulin, Length: 768, dtype: int64

In [6]:
# BMI column
data["BMI"]

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [7]:
# age
data["Age"]

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [8]:
# check for empties
data.isnull().sum()

Children                    0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
# describe data
data.describe().sum()

Children                     802.214630
Glucose                     1476.117149
BloodPressure               1192.461276
SkinThickness                958.488676
Insulin                     1966.793482
BMI                          970.876738
DiabetesPedigreeFunction     772.543705
Age                         1009.001117
dtype: float64

In [10]:
# describe data
data.describe()

,Children,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000